body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  max-width: 1146px;
  margin: auto;
  padding-top: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-nav {
  margin-right: auto;
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 22px;
}

.site-navigation :not(:last-child) {
  margin-right: 14px;
}

.site-navigation-link {
  text-decoration: none;
  color: inherit;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  background-color: #256eeb;
  border-radius: 5px;
  color: white;
}

.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search-input {
  flex-grow: 1;
  background: white;
  border-radius: 5px;
  border: none;
  padding-right: 22px;
  padding-left: 22px;
}

.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-right: 17px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.search-button-text {
  margin-left: 5px;
}
